.login-container{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c4e1f9;

}

.admin-heading{

    font-size: 45px;
    font-family: "Roboto", "Helvetica Neue",;
    color:teal;
    margin-bottom: 20px;
    font-weight: 900;
}

.form{
    display: flex;
    flex-direction: column;
    background-color:#fff;
    padding:50px;
    width:250px;
    gap:20px;
    
}
.input{
    
    border-radius:5px;
    padding:10px;
    border:none;
    border-bottom:1px solid gray;

}

.admin-login{
    background-color: teal;
    height:45px;
    margin-top: 15px;
    border:none;
    border-radius: 5px;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
   
    width:250px;
}

.err-msg{
    color:red;
    font-size: 15px;
    text-align: center;
}

span{
    font-size: 15px;
    text-align: center;
}